.seccion-servicio {
  background: url(../img/fondopng.png) no-repeat center fixed;
  
  background-size: cover;
  max-width: 100%;
  margin: 0;

}
.text-card {
  font-size: 13px;
  letter-spacing: 0.4px;
  font-family: "Manrope", sans-serif;
  font-weight: 100;
  padding: 15px;
}

.card-servicio {
  padding: 20px;
  margin: 20px;
  margin-top: 20px;

  border-color: white;
  
}
.titulo-card {
  margin-top: 0px;

  font-size: 16px;
}

.titulo-seccion-servicio{
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 100;
  letter-spacing: 1.9px;
  padding-top: 50px;
  margin-bottom: 30px;
}
