.seccion-quienes{
    background-color: #2b4460;
    padding-bottom:50px;
}

.texto-descripcion{
    letter-spacing: 0.4px;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 40px;
    color: white;
    line-height: 20px;
}
.titulo-seccion-quienes{
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 100;
    letter-spacing: 1.9px;
    padding-top: 40px;
    padding-bottom: 10px;
    
    color: white;
}
.text-valores {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-family: "Manrope", sans-serif;
    font-weight: 100;
    padding: 10x;
  }
  
  .card-mision{
    width: 80%;
  margin-top: 5px;
  background-color: transparent;
  color: white;
  border-color: white;
  padding: 20px;
  }
  .titulo-valores{
      margin-top: 15px;
      font-size: 16px;
  }

  .valores{
    padding: 30px;
  }
  

 
  
